.path_mobile {
  font-size: 14px;
  font-weight: 300;
  display: none;
}
.path_mobile span {
  cursor: pointer;
  transition: all 0.3s ease;
}
.path_mobile span:hover {
  color: #4e76c6;
}

.product_page {
  max-width: 1600px;
  margin: 0 auto;
  width: 90%;
}
.product_page main {
  margin-top: 60px;
}
.product_page main section:nth-child(1) {
  display: flex;
}
.product_photo > img {
  width: 100%;
  min-height: 570px;
  aspect-ratio: 3/2;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
}
.product_photo {
  width: 60%;
  position: relative;
}
.product_description {
  margin-left: 50px;
  width: 40%;
}
.product_name {
  margin-top: 20px;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 400;
}
.product_id {
  margin-top: 12px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 400;
}
.product_price {
  font-weight: 500;
  font-size: 50px;
  color: #4e76c6;
  margin-top: 25px;
}
.add_product {
  width: 70%;
  background-color: #4e76c6;
  height: 60px;
  display: flex;
  place-items: center;
  justify-content: center;
  color: white;
  text-transform: uppercase;
  border-radius: 60px;
  margin-top: 60px;
  transition: all 0.3s ease;
}
.add_product:hover {
  background-color: rgb(56, 90, 157);
  transform: scale(0.98);
}
.product_table {
  width: 70%;
  font-size: 18px;
  font-family: "Circe";
  margin-top: 30px;
}
.product_table tr {
  border-bottom: 1px solid #eceae7;
}
.product_table td {
  padding: 10px;
}
.product_table tr td:nth-child(1) {
  width: 150px;
  color: #72716e;
}
.pick_about button {
  text-transform: uppercase;
  font-size: 20px;
  font-family: "Circe";
  line-height: 140%;
  transition: all 0.3s ease;
}
.pick_about button:hover {
  color: #4e76c6;
}
.pick_about {
  display: flex;
  column-gap: 50px;
  padding-bottom: 10px;
  border-bottom: 1px solid #1e1e1e;
  width: 58%;
  margin-top: 30px;
}
.product_about {
  width: 50%;
  font-family: "Circe";
  font-size: 20px;
  font-weight: lighter;
  margin-top: 20px;
  line-height: 150%;
}
.product_about p {
  padding: 5px;
}
.pick_about_active {
  color: #4e76c6;
}
.complect_container > h1 {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 30px;
}
.complect_cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-bottom: 60px;
}
.pick_photo {
  display: flex;
  position: absolute;
  flex-direction: column;
  row-gap: 6px;
  bottom: 30px;
  left: 20px;
}
.pick_photo img {
  border: 2px solid #eceae7;
  width: 60px;
  height: 60px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.pick_photo img:hover {
  transform: scale(0.95);
  filter: brightness(70%);
}
.modal_picture {
  height: 100%;
}
.modal_picture img {
  height: 100%;
}
.section_product_about {
  margin-bottom: 60px;
}
@media (max-width: 1200px) {
  .product_page main section:nth-child(1) {
    flex-direction: column;
  }
  .product_photo {
    width: 100%;
  }
  .product_description {
    margin-left: 0px;
    width: 100%;
  }
  .path {
    display: none;
  }
  .path_mobile {
    display: block;
    margin-bottom: 20px;
  }
  .product_page main {
    margin-top: 30px;
  }
  .add_product {
    width: 70%;
    max-width: 500px;
  }
  .product_photo > img {
    width: 100%;
    min-height: 300px;
    aspect-ratio: 3/2;
    object-fit: cover;
    object-position: center;
    cursor: pointer;
  }
  .pick_about {
    width: 80%;
  }
}
@media (max-width: 800px) {
  .product_name {
    font-size: 20px;
  }
  .product_price {
    font-size: 35px;
  }

  .pick_about button {
    font-size: 16px;
  }
  .pick_about {
    width: 100%;
    column-gap: 10px;
    justify-content: space-between;
  }
  .product_about {
    width: 100%;
  }
  .add_product {
    width: 60%;
    min-width: 300px;
  }
  .product_table {
    width: 60%;
    min-width: 300px;
  }
  .complect_cards {
    grid-template-columns: 1fr 1fr;
  }
  .complect_container > h1 {
    font-size: 25px;
  }
}
