.side_cart {
  position: fixed;
  height: 100vh;
  width: 360px;
  right: 0;
  background-color: white;
  z-index: 9;
  top: 0;
  box-shadow: 0px 4px 24px 0px #2e436c26;
  transition: all 0.3s ease;
  transform: translateX(360px);
  overflow: auto;
}
.side_cart-open {
  position: fixed;
  height: 100vh;
  width: 360px;
  right: 0;
  background-color: white;
  z-index: 9;
  top: 0;
  box-shadow: 0px 4px 24px 0px #2e436c26;
  transform: translateX(0px);
  transition: all 0.3s ease;
  overflow: auto;
}
.side_cart_container {
  width: 280px;
  margin: 0 auto;
  margin-top: 45px;
}
.close_side_cart {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  opacity: 1;
  z-index: 8;
}
.side_cart_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 30px;
}
.side_cart_header h1 {
  font-weight: 500;
  font-size: 20px;
  text-transform: uppercase;
}
.side_cart_header div {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #f5f3f0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
  cursor: pointer;
}
.side_cart_header div:hover {
  transform: scale(1.2);
  background-color: #dddbd8;
}
.side_cart_card {
  display: flex;
  column-gap: 20px;
  padding: 30px 0;
  border-top: 1px solid #eceae7;
}
.side_cart_card img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border: 1px solid rgb(236, 234, 231);
}
.side_cart_name {
  color: #72716e;
  font-family: "Circe";
  line-height: 24px;
  font-size: 18px;
}
.side_cart_color {
  color: #72716e;
  font-family: "Circe";
  line-height: 24px;
  margin-top: 6px;
}
.side_cart_price {
  color: #4e76c6;
  font-weight: 500;
  font-size: 18px;
  margin-top: 20px;
}
.side_cart_list {
  border-bottom: 1px solid rgb(236, 234, 231);
}
.side_cart_total {
  display: flex;
  flex-direction: column;
  padding: 30px 0;
}
.side_cart_total p {
  font-weight: 300;
  font-family: "Circe";
  font-size: 18px;
  color: #72716e;
}
.side_cart_total h2 {
  font-weight: 500;
  font-size: 35px;
  color: #4e76c6;
  text-transform: uppercase;
}
