nav {
  height: 72px;
  position: relative;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}
.logo {
  margin-left: 40px;
  display: flex;
  align-items: center;
  column-gap: 40px;
}
.menu_button {
  display: flex;
  flex-direction: row;
  column-gap: 7px;
  cursor: pointer;
}
.menu_button:hover div {
  transform: scale(1.5);
}
.menu_button div {
  transition: all 0.2s ease-in;
  width: 6px;
  height: 6px;
  border-radius: 50%;
}

.navigation-black {
  color: #72716e;
  background-color: white;
}

.navigation-white {
  color: white;
  background-color: transparent;
}

.navigation-black .menu_button div {
  background-color: black;
}

.navigation-white .menu_button div {
  background-color: white;
}

.navigation-black .logo_picture {
  filter: brightness(0) invert(0);
  cursor: pointer;
}

.navigation-white .logo_picture {
  filter: brightness(0) invert(1);
  cursor: pointer;
}
nav ul {
  display: flex;
  align-items: center;
  column-gap: 36px;
  margin-right: 40px;
}
nav li {
  display: flex;
  align-items: center;
  column-gap: 12px;
  margin-top: 6px;
  cursor: pointer;
  transition: all 0.2s ease-in;
}
nav li:hover {
  color: #dadada;
  transform: scale(1.05);
}
.text_button {
  cursor: pointer;
  margin-top: 6px;
  transition: all 0.2s ease-in;
}
.text_button:hover {
  color: #dadada;
  transform: scale(1.05);
}
.buy_storage {
  margin-left: 86px;
  margin-top: 0px;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4e76c6;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.buy_storage:hover {
  transform: scale(1.1);
}
@media (max-width: 1200px) {
  nav ul {
    column-gap: 8px;
  }
  nav li {
    justify-content: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.3);
  }
  nav li div {
    display: none;
  }
  .buy_storage {
    margin-left: 0px;
  }
}
@media (max-width: 600px) {
  .menu_button {
    flex-direction: column;
    row-gap: 4px;
  }
  .text_button {
    display: none;
  }
}
