div {
  margin: 0;
  padding: 0;
}

.main_header {
  position: relative;
  height: 950px;
  width: 100%;
  z-index: 1;
}

.main_header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("/public/images/main.png");
  opacity: 0.6;
  background-size: cover;
  background-position: center;
  z-index: 2;
}
.main_header_back {
  position: absolute;
  background-color: #343a45;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.main_header_content {
  top: 0;
  left: 0;
  position: relative;
  height: calc(100% - 72px);
  z-index: 3;
}
.main_header_logo {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 52px;
}
.main_header_content > div {
  position: absolute;
  display: flex;
  align-items: center;
  column-gap: 25px;
  cursor: pointer;
}
.main_header_dot {
  position: relative;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
}
.main_header_dot::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: #eceae7;
  opacity: 20%;
  border-radius: 50%;
  width: 100%;
  height: 100%;
}
.main_header_dot div {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  transition: all 0.3s ease-in-out;
}
.main_header_dot:hover div {
  transform: scale(200%);
}
.main_header_dot_text {
  text-transform: uppercase;
  color: white;
  font-weight: 500;
  font-size: 20px;
}
.main_header_content > div:nth-child(1) {
  top: 25%;
  left: 40%;
}
.main_header_content > div:nth-child(2) {
  top: 50%;
  left: 30%;
}
.main_header_content > div:nth-child(3) {
  top: 75%;
  left: 20%;
}
.main_header_content > div:nth-child(4) {
  top: 37%;
  left: 65%;
}
.main_section_1 {
  height: 391px;
  margin-top: 48px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main_section_1 h1 {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 500;
}
.main_section_1 > div {
  margin-top: 30px;
  display: flex;
  column-gap: 30px;
}
.main_section_1_block {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.main_section_1_block img {
  width: 234px;
  height: 234px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.main_section_1_block img:hover {
  filter: brightness(0.4);
  transform: scale(1.02);
}
.main_section_1_block p {
  text-transform: uppercase;
  font-size: 14px;
}
.main_section_2 {
  padding-top: 25px;
  padding-bottom: 75px;
  background-color: rgb(245, 243, 240);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main_section_2 h1 {
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 20px;
  padding-top: 20px;
  text-transform: uppercase;
  text-align: center;
  max-width: 950px;
}
.main_section_3 {
  height: 880px;
  display: flex;
  justify-content: center;
}
.main_section_3 > div {
  width: 50%;
}
.main_section_3 > div:first-child {
  position: relative;
  background-image: url("/public/images/image.png");
  background-size: cover;
  background-position: center;
}
.main_section_3 > div:first-child h1 {
  position: absolute;
  color: white;
  font-weight: 500;
  font-size: 40px;
  width: 477px;
  left: 40px;
  top: 40px;
  text-transform: uppercase;
  letter-spacing: 5px;
  line-height: 52px;
}
.main_section_3 > div:first-child button {
  width: 166px;
  height: 62px;
  top: 780px;
  left: 40px;
  position: absolute;
  border-radius: 60px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  text-transform: uppercase;
  transition: all 0.3s ease-in;
}
.main_section_3 > div:first-child button:hover {
  transform: scale(0.97);
  background-color: #426bbd;
  color: white;
}
.main_section_3 > div:last-child {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
}

.main_section_4 {
  height: 780px;
  display: flex;
  justify-content: center;
  background-color: #f5f3f0;
}
.main_section_4 > div {
  width: 50%;
  height: 740px;
}
.main_section_4 > div:nth-child(2) {
  position: relative;
  background-image: url("/public/images/main.png");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
}
.main_section_4 > div:nth-child(2) img {
  position: absolute;
  width: 50px;
  height: 50px;
  bottom: 40px;
}
.main_section_4 > div:nth-child(1) h1 {
  font-weight: 600;
  font-size: 40px;
  margin-top: 40px;
  margin-left: 40px;
  color: #1e1e1e;
  letter-spacing: 8px;
  text-transform: uppercase;
  width: 477px;
}
.main_section_4 > div:nth-child(1) > div:nth-child(2) {
  display: flex;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #1e1e1e;
  text-transform: uppercase;
  margin-top: 110px;
  margin-left: 40px;
  column-gap: 205px;
}
.main_section_4 > div:nth-child(1) > div:nth-child(2) li div {
  width: 8px;
  height: 8px;
  background-color: #1e1e1e;
  border-radius: 50%;
  margin-bottom: 1px;
}
.main_section_4 > div:nth-child(1) > div:nth-child(2) ul {
  display: flex;
  flex-direction: column;
  row-gap: 35px;
  align-items: start;
}
.main_section_4 > div:nth-child(1) > div:nth-child(2) li {
  display: flex;
  align-items: center;
  column-gap: 12px;
  cursor: pointer;
}
.main_section_4 > div:nth-child(1) > div:nth-child(3) {
  display: flex;
  column-gap: 50px;
  font-weight: 300;
  font-size: 14px;
  color: #1e1e1e;
  margin-left: 40px;
  margin-top: 290px;
}
.main_section_4 > div:nth-child(1) > div:nth-child(3) p {
  width: 275px;
}
