div {
  margin: 0;
  padding: 0;
}

.main_section_1 {
  height: 391px;
  margin-top: 48px;
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main_section_1 h1 {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
}
.main_section_1 > div {
  margin-top: 30px;
  padding-bottom: 20px;
  display: flex;
  column-gap: 30px;
  max-width: 90%;
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.main_section_1 > div::-webkit-scrollbar {
  display: none;
}

.main_section_1_block {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.main_section_1_block img {
  width: 234px;
  height: 234px;
  transition: all 0.3s ease;
  cursor: pointer;
  object-fit: cover;
}

.main_section_1_block img:hover {
  filter: brightness(0.4);
  transform: scale(1.02);
}
.main_section_1_block p {
  text-transform: uppercase;
  font-size: 14px;
}
.main_section_2 {
  padding-top: 25px;
  padding-bottom: 75px;
  background-color: rgb(245, 243, 240);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main_section_2 h1 {
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 20px;
  padding-top: 20px;
  text-transform: uppercase;
  text-align: center;
  max-width: 950px;
}
.main_section_2 > div {
  display: flex;
  justify-content: center;
  column-gap: 30px;
  padding-top: 20px;
}
.main_section_2 > div > div {
  max-width: 550px;
  font-size: 18px;
  font-family: "Circe";
}
.main_section_2 p {
  font-size: 18px;
  margin-bottom: 20px;
}
.main_section_2 h5 {
  font-size: 20px;
  margin-bottom: 5px;
  font-weight: 590;
}

.main_section_3 {
  display: flex;
  flex-direction: column;
  row-gap: 150px;
  justify-content: center;
  margin: 80px 0;
}
.main_special {
  display: flex;
  justify-content: center;
  column-gap: 80px;
}
.main_special div {
  width: 520px;
}
.main_special video {
  width: 625px;
  height: 450px;
}
.main_special div h1 {
  font-size: 40px;
  font-weight: 500;
  text-transform: uppercase;
  width: 300px;
  margin-top: 20px;
  margin-bottom: 30px;
}
.main_special div p {
  font-size: 18px;
  font-family: "Circe";
  margin-bottom: 80px;
  line-height: 26px;
}
.main_special div button {
  width: 150px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-transform: uppercase;
  border-radius: 60px;
  background-color: rgb(78, 118, 198);
  font-size: 14px;
  transition: all 0.3s ease;
}
.main_special div button:hover {
  background-color: rgb(56, 90, 157);
  transform: scale(0.98);
}
.main_section_4 {
  height: 780px;
  display: flex;
  justify-content: center;
  background-color: #f5f3f0;
}
.main_section_4 > div {
  width: 50%;
  height: 740px;
}
.main_section_4 > div:nth-child(2) {
  position: relative;
  background-image: url("/public/images/005_1.webp");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
}
.main_section_4 > div:nth-child(2) img {
  position: absolute;
  width: 50px;
  height: 50px;
  bottom: 40px;
}
.main_section_4 > div:nth-child(1) h1 {
  font-weight: 600;
  font-size: 40px;
  margin-top: 40px;
  margin-left: 40px;
  color: #1e1e1e;
  letter-spacing: 8px;
  text-transform: uppercase;
  width: 200px;
}
.main_section_4 > div:nth-child(1) > div:nth-child(2) {
  display: flex;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #1e1e1e;
  text-transform: uppercase;
  margin-top: 110px;
  margin-left: 40px;
  column-gap: 200px;
}
.main_section_4 > div:nth-child(1) > div:nth-child(2) li div {
  width: 8px;
  height: 8px;
  background-color: #1e1e1e;
  border-radius: 50%;
  margin-bottom: 1px;
}
.main_section_4 > div:nth-child(1) > div:nth-child(2) ul {
  display: flex;
  flex-direction: column;
  row-gap: 35px;
  align-items: start;
}
.main_section_4 > div:nth-child(1) > div:nth-child(2) li {
  display: flex;
  align-items: center;
  column-gap: 12px;
}
.main_section_4 > div:nth-child(1) > div:nth-child(2) p {
  cursor: pointer;
}
.main_section_4 > div:nth-child(1) > div:nth-child(3) {
  display: flex;
  column-gap: 50px;
  font-weight: 300;
  font-size: 14px;
  color: #1e1e1e;
  margin-left: 40px;
  margin-top: 290px;
}
.main_section_4 > div:nth-child(1) > div:nth-child(3) p {
  width: 275px;
}
@media (max-width: 1300px) {
  .main_special video {
    width: 545px;
    height: 386px;
  }
}
@media (max-width: 1200px) {
  .main_special {
    column-gap: 20px;
  }
  .main_special video {
    width: 430px;
    height: 305px;
  }
  .main_special div h1 {
    font-size: 38px;
    margin-bottom: 20px;
  }
  .main_special div p {
    font-size: 16px;
    margin-bottom: 30px;
    width: 450px;
  }
  .main_section_2 > div {
    flex-direction: column;
    align-items: center;
  }
  .main_section_2 h1 {
    font-size: 28px;
  }
  .main_section_2 > div > div {
    max-width: 80%;
  }
  .main_section_4 > div:nth-child(1) > div:nth-child(2) {
    column-gap: 100px;
  }
  .main_section_4 > div:nth-child(1) > div:nth-child(3) {
    flex-direction: column;
    row-gap: 50px;
    margin-top: 100px;
  }
}
@media (max-width: 1000px) {
  .main_special {
    align-items: center;
  }
  .main_special video {
    width: 325px;
    height: 225px;
  }
}
@media (max-width: 800px) {
  .main_header {
    height: 700px;
  }
  .main_section_3 {
    row-gap: 80px;
    justify-content: center;
    margin: 40px 0;
  }
  .main_special {
    flex-direction: column;
  }
  .main_special video {
    order: 1;
    width: 90%;
    height: 100%;
  }
  .main_special div {
    order: 2;
    width: 90%;
  }
  .main_special div h1 {
    font-size: 28px;
    letter-spacing: 2.8px;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 5px;
  }
  .main_special div p {
    width: 100%;
  }
  .main_header_content > div:nth-child(1) {
    top: 15%;
    left: 10%;
  }
  .main_header_content > div:nth-child(2) {
    top: 30%;
    left: auto;
    right: 10%;
  }
  .main_header_content > div:nth-child(3) {
    top: 60%;
    left: 10%;
  }
  .main_header_content > div:nth-child(4) {
    top: 45%;
    left: auto;
    right: 10%;
  }
  .main_header_content > div:nth-child(2) > .main_header_dot {
    order: 2;
  }
  .main_header_content > div:nth-child(4) > .main_header_dot {
    order: 2;
  }
  .main_header_dot {
    width: 50px;
    height: 50px;
  }
  .main_header_dot_text {
    font-size: 16px;
  }
  .main_section_1 h1 {
    font-size: 28px;
  }
  .main_section_1_block img {
    width: 180px;
    height: 180px;
  }
  .main_section_1 {
    margin-top: 15px;
    margin-bottom: 20px;
  }
  .main_section_4 {
    height: 700px;
  }
  .main_section_4 > div:nth-child(2) {
    display: none;
  }

  .main_section_4 > div {
    width: 100%;
  }
  .main_section_4 > div:nth-child(1) > div:nth-child(2) {
    column-gap: 50px;
    margin-top: 70px;
  }
  .main_section_4 > div:nth-child(1) > div:nth-child(3) p {
    width: 60%;
    min-width: 300px;
  }
}
