.modal {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.2s;
  cursor: pointer;
}
.modal.active {
  pointer-events: all;
  opacity: 1;
}
.modal_content {
  height: 70%;
  transform: translateY(100%);
  transition: 0.2s all;
}
.modal_content.active {
  transform: translateY(0px);
}
@media (max-width: 600px) {
  .modal_content {
    width: 520px;
    height: 100%;
  }
}
