.main_catalog {
  overflow: hidden;
}

.catalog_1 main {
  transition: all 1s ease;
  height: 100%;
  border-top: 1px solid #eceae7;
  display: flex;
}
.main_catalog > section {
  padding-top: 40px;
}
.mobile_filter {
  display: none;
}
@media (max-width: 1000px) {
  .desktop_filter {
    display: none;
  }
  .mobile_filter {
    display: flex;
    flex-direction: column;
  }
}
