.header_catalog_1 {
  position: relative;
  height: 530px;
  margin: 0 40px;
  background-image: url("/public/images/image_47.png");
  background-size: cover;
  background-position: center;
  color: white;
  transition: all 1s ease;
}
.header_catalog_1 > h1 {
  position: relative;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 60px;
  margin: 0;
  padding-left: 40px;
  padding-top: 40px;
  width: 477px;
}
.header_catalog_1 div {
  position: relative;
  display: flex;
  justify-content: space-between;
  color: white;
  padding: 0 40px;
  padding-top: 266px;
}
.header_catalog_1 div > p {
  width: 420px;
  font-size: 18px;
  font-family: "Orchidea Pro Lt";
}
.header_catalog_1 button {
  width: 162px;
  height: 60px;
  border-radius: 60px;
  background-color: #faf8f4;
  color: #222730;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  transition: all 0.3s ease-in;
}
.header_catalog_1 button:hover {
  transform: scale(0.97);
  background-color: #426bbd;
  color: white;
}
.catalog_1 main {
  transition: all 1s ease;
  height: 100%;
  border-top: 1px solid #eceae7;
  display: flex;
}
