.main_header {
  position: relative;
  height: 950px;
  width: 100%;
  z-index: 1;
}

.main_header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("/public/images/main.png");
  opacity: 0.6;
  background-size: cover;
  background-position: center;
  z-index: 2;
}
.main_header_back {
  position: absolute;
  background-color: #343a45;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.main_header_content {
  top: 0;
  left: 0;
  position: relative;
  height: calc(100% - 72px);
  z-index: 3;
}
.main_header_logo {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 52px;
}
.main_header_content > div {
  position: absolute;
  display: flex;
  align-items: center;
  column-gap: 25px;
  cursor: pointer;
}
.main_header_dot {
  position: relative;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
}
.main_header_dot::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: #eceae7;
  opacity: 20%;
  border-radius: 50%;
  width: 100%;
  height: 100%;
}
.main_header_dot div {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  transition: all 0.3s ease-in-out;
}
.main_header_dot:hover div {
  transform: scale(200%);
}
.main_header_dot_text {
  text-transform: uppercase;
  color: white;
  font-weight: 500;
  font-size: 20px;
}
.main_header_content > div:nth-child(1) {
  top: 25%;
  left: 40%;
}
.main_header_content > div:nth-child(2) {
  top: 50%;
  left: 30%;
}
.main_header_content > div:nth-child(3) {
  top: 75%;
  left: 20%;
}
.main_header_content > div:nth-child(4) {
  top: 37%;
  left: 65%;
}
